.footerMenu{
    width: 80%;
    margin-inline: auto;
    border-bottom: 1px solid var(--color-border);
}
.footerMenuHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.5rem;
}
.footerMenuList{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all ease-in .4s;
    padding-bottom: 0;
}
.showList{
    height: 100%;
    opacity: 1;
    padding-block: 0.4rem;
}
.footerChevron{
    transition: transform .4s;
}
.showChevron{
    transform: rotate(90deg);
}
@media screen and (min-width:768px) {
    .footerChevron{
        display: none;
    }
    .footerMenuList{
        height: 100%;
        opacity: 1;
        padding-bottom: 0.5rem;
    }
}
@media screen and (min-width:992px) {
    .footerMenu{
        width: fit-content;
        border-bottom: 0;
    }
}