@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root{
  --font-primary: "Inter", sans-serif;
  --font-logo: "Lobster", sans-serif;

  --color-deeppink: #e83657;
  --color-icon-pink: #e26176;
  --color-primary: #312a45;
  --color-secondary: #423E71;
  --color-third: #332E69;
  --color-border: #DCE4E9;
}
.container{
  max-width: 1200px;
  margin-inline: auto;
  overflow: hidden;
}
body{
  font-family: var(--font-primary);
}
.section{
  padding-block: 4rem;
}


/* Logo */
.logo{
  font-family: var(--font-logo);
  font-weight: 700;
  font-size: 1.5rem;
  transform: rotate(-10deg);
  color: var(--color-deeppink);
  width: fit-content;
}

/* Hide */
@media screen and (max-width: 992px) {
  .hide-pic-below-lg{
    display: none;
  }
  
}